div {
    width: 200px;
    height: 200px;
  }

  @media screen and (width>=600px) {
    div {
      background-color: blue;
      box-shadow: 0px 5px 10px black;
    }
  }

  @media screen and (width<600px) {
    div {
      background-color: blue;
    }
  }